<div class="box"> 
    <article class="media">
        <div class="medil-content">
            <div class="content">
                <p>
                    <strong><%= comment.name %>: </strong>
                    <%= comment.comment %>
                </p>        
            </div>
        </div>
        
    </article>
</div>